/*Text formatting*/
.main {
    margin-left: 5%;
    margin-right: 5%;
}
h4 {
    margin-top: 30px;
}

/*Header image and title*/
.top-section {
    height: 33.25vw;
    display: flex;
    gap: 20px;
}
.top-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-section h1 {
    color: white;
    position: absolute;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 10px;
}

.timeline {
    width: 50vw;
    display: block;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}
.timeline img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}