.badge.carnegie-red {
    background-color: #C41230;
}

#execSummaryButton {
    color: white;
    background-color: #C41230;
}

.learn-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-heading {
    color: #C41230;
    font-weight: 600;
}

#sdgGoalsButton {
    color: white;
    background-color: #C41230;
}

.filterBadge {
    border: 2px solid #C41230;
}

#techImplementedButton {
    color: white;
    background-color: #C41230;
}
