.badge.carnegie-red {
    background-color: #C41230;
}

.body {
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
}

#execSummaryButton {
    color: white;
    background-color: #008F91;
}

.filterBadge {
    color: white;
    background-color: #C41230;
}

.learn-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-heading {
    color: #008F91;
    font-weight: 600;
}

#sdgGoalsButton,
#techImplementedButton,
#search {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #919191;
}