.badge.carnegie-red {
    background-color: #C41230;
}

#execSummaryButton {
    color: white;
    background-color: #008F91;
}

.filterBadge {
    color: white;
    background-color: #C41230;
}

.learn-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-heading {
    color: #008F91;
    font-weight: 600;
}

#sdgGoalsButton, #techImplementedButton, #search {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #919191;

}


.nav-link{
    color: white !important;
    font-size: large;
    font-weight: 400;
}

.nav-item.active {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
}

.navbar-nav.nav-justified {
    flex: 1;
    justify-content: space-between;
}

.navbar-custom{
    margin-bottom: 3%;
}

.custom-toggler {
    border-color: white !important;
}

